html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: whitesmoke;
}

.header {
  height: fit-content;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}

.link {
  margin: 0;
  padding: 1.8rem;
  color: #dfdfdf;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  color: white;
}

.text-center {
  text-align: center;
}

.box {
  box-shadow: 0 4px 10px 0 rgba(64, 25, 100, 0.15);
  border-radius: 0.625rem;
  padding: 2rem;
  background: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p {
    margin: 0;
}

#viewDiv {
  height: calc(100% - 4.7rem);
}


.content {
  margin: 5rem 6.8rem 0;
}

@media screen and (max-width: 913px) {
  .header {
    flex-flow: column;
  }

  .link {
    color: white;
    text-align: center;
  }

  .link:not(:last-child) {
    border-bottom: #4e4e4e 1px solid;
    margin: 0 -4rem;
  }

  .content {
      margin: 5rem 2rem 0;
  }

  #viewDiv {
    height: 100%;
  }
}
